# Importar Librerias

Librerias que permiten hacer operaciones

In [ ]:
import pandas as pd
from google.colab import drive
import os

# Acceso a Google Drive

1.   Dar permisos a Google Drive
2.   Colocar la ruta donde se encuentran los archivos a leer.
3.   Escribir el nombre del mes
4.   Escribir el año que se deseea leer.

In [ ]:
drive.mount('/content/drive') #No. 1
ruta_carpeta = '/content/drive/MyDrive/Ejemplos/Documentos Ejemplo' #No. 2
mes = "marzo" #No. 3
anio = '2023' #No. 4

Mounted at /content/drive

# Crear función que leerá los archivos CSV y Excel

La función será ejecutada dos veces para leer cada tipo de archivo.

1.   Crear un DataFrame (es similar a una hoja en un archivo de Excel)
2.   Listar todos los archivos que estan en la carpeta
3.   Los nombres de archivos tienen un formato: "Compras_Gastos_Marzo_2023.csv" ➡ "Departamento_TipoArchivo_Mes_año.extension"
4.   Crear una variable con el nombre del archivo para el mes, año y tipo de archivo correspondiente.
5.   Verificar si el archivo es de tipo CSV, para leer con la función especifica par CSV
6.   Verificar si el archivo es de tipo Excel, para leer con la función especifica para Excel
7.   Leer el contenido del archivo en la variable ***df_temp***
8.   Crear de format automatica la columna Departamento, obteniendo el valor del nombre del archivo.
9.   Unir cada archivo a la variable original ***df***

In [ ]:
def get_dataframe(tipo_archivo, columnas):
  df = pd.DataFrame(columns = columnas) #No. 1
  i = 0

  for archivo in os.listdir(ruta_carpeta): #No. 2
    ruta_archivo = '_' + tipo_archivo.lower() + '_' + mes + '_' + anio #No. 4
    
    # No. 5
    if (archivo.lower().endswith(ruta_archivo + '.csv')):
      df_temp = pd.read_csv(ruta_carpeta + "/" + archivo, sep=";") #No. 7
      df_temp['Departamento'] = archivo.lower().replace(ruta_archivo + '.csv', '').title() #No. 8
      df = pd.concat([df, df_temp]) #No. 9

    #No. 6
    if (archivo.lower().endswith(ruta_archivo + '.xlsx')):
      df_temp = pd.read_excel(ruta_carpeta + "/" + archivo) #No. 7
      df_temp['Departamento'] = archivo.lower().replace(ruta_archivo  + '.xlsx', '').title() #No. 8
      df = pd.concat([df, df_temp]) #No. 9

  return df

## Llamar 2 veces a la función:
1.   Para leer el archivo de gastos
2.   Para leer el archivo de tareas.
* *Especificar las columnas para cada tipo de archivo.*

In [ ]:
df_gastos = get_dataframe("GASTOS", ['Fecha', 'Gasto', 'Monto', 'Departamento']) #No. 1
df_tareas = get_dataframe("TAREAS", ['Fecha', 'Tarea', 'Responsable', 'Estado', 'Departamento']) #No. 2

**Opcional**: Explorar datos

In [ ]:
df_gastos.head(5)

                 Fecha            Gasto Monto Departamento
0  2023-03-01 00:00:00         Telefono   500       Ventas
1  2023-03-09 00:00:00         Internet  1500       Ventas
2  2023-03-15 00:00:00  Insumos oficina   500       Ventas
3  2023-03-22 00:00:00         Viaticos   200       Ventas
4  2023-03-27 00:00:00  Insumos oficina   200       Ventas

In [ ]:
df_tareas.head(5)

                 Fecha    Tarea Responsable       Estado Departamento
0  2023-03-01 00:00:00  Tarea 1        Juan   Completada      Compras
1  2023-03-02 00:00:00  Tarea 2       Pedro  En progreso      Compras
2  2023-03-03 00:00:00  Tarea 3       Maria   Completada      Compras
3  2023-03-06 00:00:00  Tarea 4      Carlos  En progreso      Compras
4  2023-03-07 00:00:00  Tarea 5         Ana  En progreso      Compras

In [ ]:
df_gastos_departamento = df_gastos[['Departamento', 'Monto']].groupby(['Departamento']).sum()
df_gastos_departamento

              Monto
Departamento
Compras        3300
Contabilidad   4300
Ventas         2900

In [ ]:
df_gastos_tipo = df_gastos[['Gasto', 'Monto']].groupby(['Gasto']).sum()
df_gastos_tipo

                 Monto
Gasto
Insumos oficina   4400
Internet          4500
Telefono          1400
Viaticos           200

In [ ]:
with pd.ExcelWriter(ruta_carpeta + '/Total_Gatos'+ '_' + mes + '_' + anio + '.xlsx') as writer:  
    df_gastos_tipo.to_excel(writer, sheet_name='Tipo Gasto')
    df_gastos_departamento.to_excel(writer, sheet_name='Departamento')